<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895763334632-f2vufe3nc3o9er2k05aqelubhkeg0tc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895763334632-f2vufe3nc3o9er2k05aqelubhkeg0tc5</string>
	<key>API_KEY</key>
	<string>AIzaSyBLG-0wJU8VRXDMmW26sa883Q691clBJYI</string>
	<key>GCM_SENDER_ID</key>
	<string>895763334632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.chandramdutta.femease</string>
	<key>PROJECT_ID</key>
	<string>femease</string>
	<key>STORAGE_BUCKET</key>
	<string>femease.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895763334632:ios:62c497b2c9e076784f905d</string>
</dict>
</plist>